<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>template</title>
</head>
<body>
	<div>親愛的${membername}，您好：</div>
	<div>
		<br>
		您在 DESIGN & DECOR訂購的商品已出貨配送中...<br> <br>
		訂單編號為[ ${imforid} ]<br> <br>
		可至官網查看訂購明細與配送資料明細<br> <br>
		
		***貼心小提醒***<br>
		請保持電話暢通或留意未接來電<br> <br>
		若連續配送三次且無法聯絡上收件人將會退回商家<br> <br>重新配送收件人需另付運費<br> <br>
		<br>
		
		<br>
		歡迎您再次到DESIGN & DECOR購物<br> <br> 祝您購物愉快! <br> <br>
		<br>
	</div>
	<div style="width: 500px;">
		<a href="http://localhost:8080/Design/F/Activity/index"><img src="cid:logo" style="width: 300px;"></a>
	</div>
</body>
</html>