<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>template</title>
</head>
<body>
	<div>親愛的${membername}，您好：</div>
	<div>
		<br>
		您在 DESIGN & DECOR的訂單已成立<br> <br>可隨時至官網查看會員訂單明細與出貨進度<br> <br>
		<br>
		***貼心小提醒***<br>
		若商品庫存顯示為預購，需向國外原廠客訂預購，期貨時間約4-6個月左右到台灣<br> <br>
		<br>
		***匯款資訊***<br>
		匯款完成請提供匯款人姓名、匯款帳號末五碼以及匯款日期，以便查核
		<br>
		<br>
	    * * * * * * * * * * * * * * * * * * * * * * * * * * * * * <br>
	       匯款銀行：台灣中小企業銀行－大安分行     <br>
	       銀行代碼： 050                       <br>
	       匯款帳號： 67012173148               <br>
	       戶名：資展國際美的生活有限公司          <br>
	    * * * * * * * * * * * * * * * * * * * * * * * * * * * *  <br>
		<br>
		歡迎您再次到DESIGN & DECOR購物<br> <br> 祝您購物愉快! <br> <br>
		<br>
	</div>
	<div style="width: 500px;">
		<a href="http://localhost:8080/Design/F/Activity/index"><img src="cid:logo" style="width: 300px;"></a>
	</div>
</body>
</html>